<html>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    {% include "navbar.html" %}
    <form method="GET" action="/addpro" style="text-align: center; margin: 100px auto;">
        <h1 style="margin: 20px">Add your products here: </h1>
        <label for="pname" >Product name</label>
        <input type="text"id="pname"name="name" style="margin: 10px">
        <br>
        <label for="des" >Description</label>
        <input type="text"id="des"name="des" style="margin: 10px">
        <br>
        <label for="price" >Price</label>
        <input type="text"id="price"name="price" style="margin: 10px">
        <br>
        <div>

            <input type="submit" value="submit">
        </div>
    </form>
    {% include "footer.html" %}
</body>
</html>