<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="../edcodes/{{a.id}}">
        <label for="name">name</label>
        <input type="text" name="name" value="{{a.name}}"id="name">
        <label for="email">email:</label>
        <input type="text" name="email" value="{{a.email}}" id="email">
        <label for="number">number:</label>
        <input type="text" name="number" value="{{a.number}}" id="number">
        <label for="address">adrress:</label>
        <input type="text" name="address" value="{{a.address}}" id="address">
        <label for="artworks"></label>
        <input type="text" name="Artworks" value="{{a.Artworks}}" id="artworks">
        <input type="submit" value="Submit">
        
    </form>
</body>
</html>