<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    <!-- footer_section -->
<section class="">
    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: #202a33;">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: CTA -->
        <section class="">
          <p class="d-flex justify-content-center align-items-center">
            <span class="me-3">For explore all our artworks </span>
            <a href="/index" class="btn btn-outline-light btn-rounded"> Click here!</a>
            <!-- <button type="button" class="btn btn-outline-light btn-rounded"> -->

          </p>
        </section>
        <br>
        <section class="">
          <p class="d-flex justify-content-center align-items-center">
            <span class="me-3">Sign in</span>
            <a href="/adminlogin" class="btn btn-outline-light btn-rounded"> Click here!</a>
            <!-- <button type="button" class="btn btn-outline-light btn-rounded"> -->

          </p>
        </section>
        <!-- Section: CTA -->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(11, 7, 7, 0.2);">
        © 2023 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">NobleNebula.com</a>
      </div>
      <!-- Copyright -->
    </footer>
  </section>
   <!-- Footer -->
</body>
</html>