<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>orders</title>
</head>
<body>
    <h1>Order details</h1>
    <table style="text-align: center; margin:auto;">
        <tr>
            <td style="padding:10px">Name</td>
            <td style="padding:10px">Email</td>
            <td style="padding:10px">Number</td>
            <td style="padding:10px">Address</td>
            <td style="padding:10px">Artworks</td>
            
            
        </tr>   
        {% for i in a %}
        <tr>
            <td style="padding:10px">{{i.name}}</td>
            <td style="padding:10px">{{i.email}}</td>
            <td style="padding:10px">{{i.number}}</td>
            <td style="padding:10px">{{i.address}}</td>
            <td style="padding:10px">{{i.Artworks}}</td>
            
            
            <td><a href="dele/{{i.id}}">Delete</a></td>
            <td><a href="editorders/{{i.id}}">Edit</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>