<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="text-align: center; margin:70px;">
        <h1 style="margin: auto">Welcome to Our Admin Page</h1>
        <div style="margin: 40px" class="button">
            <div style="margin: 10px">
            <button myFunction()"><a href="shows" style="margin: 10px;" >Show product DataBase</a></button>
        </div>
            <br>
            <div style="margin: 10px">
            <button onclick="myFunction()"><a href="showorders" style="margin: 10px;">Show Order DataBase</a></button>
        </div>
            <br>
            <div style="margin: 10px">
            <button onclick="myFunction()"><a href="addpro" style="margin: 10px;">Add Products</a></button>
        </div>
            
        </div>
    </div>
    
</body>
</html>